doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon' link='./favicon.ico')
  link(rel='apple-touch-icon' link='./apple-touch-icon.png')
  link(rel='icon' sizes='32x32' type='image/png' link='./favicon-16x16.png')
  link(rel='icon' sizes='16x16' type='image/png' link='./favicon-32x32.png')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Zcy;&acy;&vcy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&iecy;&vcy;
  link(rel='stylesheet' href='./style.css')
section.background
  .panel.bottom
    .profile
      .row
        .col-md-6
          .block
            .avatar
              img(src='./profile.jpg' alt='Smiley face' height='150' width='150' style='border-radius: 50%; box-shadow: 0 0 2px rgba(0,0,0,0.5);')
            .user-name
              p #{i18n.name}
            .profession Full-stack developer
            .skills
              | Ruby on Rails &bull; React.js &bull; Node.js 
              br
              |  PostgreSQL &bull; Linux &bull; Docker
            .experience
              ul
                li
                  span
                    a(href='#') taaasty.com
                    | : 2015-2016
                li
                  span
                    a(href='https://onelec.ru')  onelec.ru
                    | : 2016-&ncy;&acy;&scy;&tcy;.&vcy;&rcy;
                li
                  span
                    a(href='https://kiiiosk.store')  kiiiosk.store
                    | : 2018-&ncy;&acy;&scy;&tcy;.&vcy;&rcy;
        .col-md-6
          .block
            .info
              h5 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
              ul
                li
                  a(href='klondaiker@bk.ru') klondaiker@bk.ru
                li
                  a(href='https://teleg.one/klondaiker') https://teleg.one/klondaiker
              h5 &Gcy;&icy;&tcy;&khcy;&acy;&bcy;
              ul
                li
                  a(href='https://github.com/klondaiker') https://github.com/klondaiker
              h5 &KHcy;&acy;&bcy;&rcy;
              ul
                li
                  a(href='https://career.habr.com/happy-klondaiker') https://career.habr.com/happy-klondaiker
                li
                  a(href='https://habr.com/ru/users/klondaiker/') https://habr.com/ru/users/klondaiker/
              h5 &Scy;&tcy;&rcy;&icy;&mcy;
              ul
                li
                  a(href='https://www.twitch.tv/klondaiker/') https://www.twitch.tv/klondaiker/
              h5 &Scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&iecy;&tcy;&icy;
              ul
                li
                  a(href='https://vk.com/happy_klondaiker') https://vk.com/happy_klondaiker
                li
                  a(href='https://www.instagram.com/happy_klondaiker/') https://www.instagram.com/happy_klondaiker/
                li
                  a(href='https://twitter.com/klondaiker') https://twitter.com/klondaiker
    .scroll
